* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #090a13;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #ddd;
    min-height: 100vh;
    padding: 1rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
